<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aldimsyafi.ezsport">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_kecil4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_kecil4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.aldimsyafi.ezsport.Content.Content_Csgo" />
        <activity android:name="com.aldimsyafi.ezsport.ImageActivity.ImagesActivity_csgo" />
        <activity android:name="com.aldimsyafi.ezsport.ImageActivity.ImagesActivity_dota" />
        <activity android:name="com.aldimsyafi.ezsport.Content.Content_Dota" />
        <activity android:name="com.aldimsyafi.ezsport.Detail.Detail_info" />
        <activity android:name="com.aldimsyafi.ezsport.Detail.Detail_Artikel" />
        <activity android:name="com.aldimsyafi.ezsport.ImageActivity.ImagesActivity_info" />
        <activity android:name="com.aldimsyafi.ezsport.Content.Content_Info" />
        <activity android:name="com.aldimsyafi.ezsport.ImageActivity.ImagesActivity" />
        <activity android:name="com.aldimsyafi.ezsport.Content.Content_Artikel" />
        <activity android:name="com.aldimsyafi.ezsport.Menu_Utama_Admin" />
        <activity android:name="com.aldimsyafi.ezsport.login_admin" />
        <activity android:name="com.aldimsyafi.ezsport.HomeActivity" />
        <activity
            android:name="com.aldimsyafi.ezsport.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>