<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ezsport">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Detail_info"></activity>
        <activity android:name=".Detail_Artikel" />
        <activity android:name=".ImagesActivity_info" />
        <activity android:name=".Content_Info" />
        <activity android:name=".ImagesActivity" />
        <activity android:name=".Content_Artikel" />
        <activity android:name=".Menu_Utama_Admin" />
        <activity android:name=".login_admin" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>